/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

/* Common CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* navbar section styles */
.logo-name, 
.logo-name:hover{
    color: #289BDE;
    font-size: 27px;
    font-weight: 700;
}

.register button{
    font-weight: 600;
    padding: 15px 50px;
    color: #289BDE;
    font-size: 20px;
    border-color: #289BDE;
}
.trainee-nav li a{
    font-size: 18px;
    font-weight: 500;
    color:#4A4A4A ;
    transition: all .3s ease;
}
.trainee-nav li a:hover{
    color:#248fc4 ;
}


/* banner */
.trainee-banner{
    height: 100%;
    overflow: hidden;
    border-radius: 7px;
    margin-top: 15px;
   position: relative;
}
.trainee-banner::before{
    content: '';
    position: absolute;
    background: rgba(0,0,0,.6);
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 1;
    height: 100%;
}
.trainee-carousel {
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 999;
}
.trainee-banner img{
    height: 700px;
    width: 100%;
}
.trainee-carousel h1{
    font-size: 3.9rem;
    margin-bottom: 20px;
}
.trainee-carousel p{
    font-size:18px;
    margin-bottom: 20px;
}
.trainee-carousel button{
    font-weight: 600;
    padding: 15px 35px;
    background-color:#289BDE;
    color: #fff;
    font-size: 20px;
    transition: all .3s;
}
.trainee-carousel button:hover{
    background-color: #248fc4;
}


/* Popular Course Section */
.course-content span{
    font-size: 18px;
    color: #289BDE;
    font-weight: 700;
}
.course-btn button{
    font-weight: 600;
    padding: 15px 35px;
    background-color:#289BDE;
    color: #fff;
    font-size: 20px;
    transition: all .3s;
}
.course-btn button:hover{
    background-color: #248fc4;
}